{% extends "activity/base.html" %}

{% block content %}
{% if user_permissions %}
    <p>You have the following permissions: {% for p in user_permissions %}{{ p }}{%if forloop.last%}.{%else%}, {%endif%}{% endfor %}</p>
{% endif %}
{% if activity_list %}
    <table>
    <thead>
        <tr><th>User</th><th>Last logon time</th></tr>
    </thead>
    <tbody>
    {% for user in activity_list %}
        <tr><td>{{ user.username }}</td><td>{{ user.last_login }}</td></tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <p>No activity recorded.</p>
{% endif %}
{% endblock %}
